.cim {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        font-family: Franklin Gothic Medium;
        font-size: 50px;
        text-align: center;
        color: black;
        font-family: Franklin Gothic Medium;
        border:10px solid rgb(0, 72, 105);
        border-style: inset;
        border-radius: 20%;
        background-color: rgb(43, 142, 255)
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
        
    }

body
    {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        font-family:Franklin Gothic Medium;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
       
    }
    

 .szöveg1 { 
    font-size: 20px;
    font-family: Franklin Gothic Medium;
}
.kep1 {
    margin-left: auto;
    margin-right: auto;
    border: none;
    margin-bottom: auto;
    text-align: center;
    cursor: pointer;
}
.pingv {
    width: 50%;
    height: 50%;
    border: 10px solid rgb(0, 72, 105);
    border-radius: 20%;
    border-style: ridge;
    border-style: inset;
}
.gombcontainer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.viccgomb {
    font-family: Impact;
    border: 20px solid rgb(0, 72, 105);
    background-color: rgb(125, 194, 255);
    border-radius: 30%;
    font-size: 30px;
    border-style: groove;
    border-style: outset;
    cursor: pointer;
}
.beta {
    text-align: center;
}

.rejtveny {
    font-size: large;
    color: red ;
    font-weight: bold;
    
}
